.App {
    text-align: center;
}

body {
    background: #252020;
}

.Rival-container {
    margin-top: 5vh;
    text-align: center;
    /* margin-left: 5vw;
    margin-right: 5vw; */
}

.Pokemon-container {
    margin-top: 15vh;
    text-align: center;
    margin-right: 2vw;
    /* margin-left: -20vw; */
}

.App-body {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background: #252020;
    flex-wrap: wrap;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* position: absolute; */
    width: 100vw;
    height: 10%;
    background: #C23D3D;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dialog {
    min-width: 10vw;
    min-height: 2vh;
    max-width: 50vw;
    max-height: 10vh;
    background: #EEE3D8;
    border: 1vh solid #464646;
    border-radius: 2vh;
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    bottom: 15vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 2vh;
    padding-top: 1vh;
}